<%= render "shared/header"%>
<div class='main'>
  <p class='main-text'>
    行ってみたいスポットを最大３つ選択してください。
  </p>
  <%# スポット一覧 %>
  <div class='spots-contents'>
    <ul class='spot-lists'>
      
  </div>
</div>
<p>Find me in app/views/spots/index.html.erb</p>
